In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/srira/OneDrive/Desktop/practicals/DSBDALExam DataSets/dataset_Facebook.csv", sep=';')

In [4]:
photo_posts = df[df['Type'] == 'Photo']
status_posts = df[df['Type'] == 'Status']
video_posts = df[df['Type'] == 'Video']
link_posts = df[df['Type'] == 'Link']

In [5]:
photo_posts

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [6]:
status_posts.head()
# status_posts.shape

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108

In [9]:
merged_df = pd.merge(photo_posts, status_posts, on=['Paid','Category'])
merged_df

,Page total likes_x,Type_x,Category,Post Month_x,Post Weekday_x,Post Hour_x,Paid,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
1,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
2,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
3,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
4,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,951,937,1290,13246,8004,924,3,25.0,6.0,34
2891,81370,Photo,3,1,4,11,0.0,4156,7564,626,...,130,86,112,5009,2410,101,4,54.0,17.0,75
2892,81370,Photo,3,1,4,11,0.0,4156,7564,626,...,1006,847,1153,9562,5180,740,3,226.0,44.0,273
2893,81370,Photo,3,1,4,11,0.0,4156,7564,626,...,199,108,141,7549,3336,156,2,99.0,16.0,117
2894,81370,Photo,3,1,4,11,0.0,4156,7564,626,...,2543,2438,3179,20547,10280,2278,2,227.0,36.0,265

In [7]:
sorted_df = df.sort_values(by='Page total likes', ascending=False)
sorted_df.sort_index(ascending=True)
sorted_df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [8]:
transposed_df = df.transpose()
# transposed_df = df.head().transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [7]:
melted_df = pd.melt(
    df,
    id_vars=['Type'],
    value_vars=['comment', 'like', 'share'],
    var_name='Interaction Type',
    value_name='Count'
)
melted_df

        Type Interaction Type  Count
0      Photo          comment    4.0
1     Status          comment    5.0
2      Photo          comment    0.0
3      Photo          comment   58.0
4      Photo          comment   19.0
...      ...              ...    ...
1495   Photo            share   26.0
1496   Photo            share   22.0
1497   Photo            share   18.0
1498   Photo            share   38.0
1499   Photo            share   28.0

[1500 rows x 3 columns]

In [30]:
cast_df = melted_df.pivot_table(
    index=['Type', 'Post Month'],
    columns='Interaction Type',
    values='Count',
    aggfunc='sum'
).reset_index()
cast_df

Interaction Type    Type  Post Month  comment     like   share
0                   Link           1      1.0    246.0    18.0
1                   Link           2      4.0    114.0    13.0
2                   Link           3      4.0    106.0    30.0
3                   Link           4      9.0    453.0    58.0
4                   Link           5      3.0     46.0    14.0
5                   Link          10     15.0    199.0    71.0
6                   Link          11      2.0    130.0    31.0
7                   Link          12     24.0    319.0    49.0
8                  Photo           1    148.0   2826.0   776.0
9                  Photo           2    270.0   4903.0   989.0
10                 Photo           3     97.0   2861.0   362.0
11                 Photo           4    240.0   8237.0  1292.0
12                 Photo           5    281.0   7558.0  1093.0
13                 Photo           6    290.0   6167.0   789.0
14                 Photo           7    692.0  12853.0  1862.0
15                 Photo           8    132.0   6273.0   641.0
16                 Photo           9    327.0   7248.0  1075.0
17                 Photo          10    248.0   6771.0   944.0
18                 Photo          11    245.0   5798.0   917.0
19                 Photo          12    222.0   6115.0   721.0
20                Status           3      3.0     25.0     6.0
21                Status           4     17.0    447.0   123.0
22                Status           5      9.0    394.0    85.0
23                Status           6      4.0    176.0    31.0
24                Status           7     87.0   1003.0   176.0
25                Status           8     62.0    474.0    81.0
26                Status           9     64.0    721.0   119.0
27                Status          10     99.0   2269.0   358.0
28                Status          11      7.0    411.0    73.0
29                Status          12     49.0   2032.0   362.0
30                 Video           6     23.0    204.0    44.0
31                 Video           7     18.0    315.0    76.0
32                 Video           9      6.0    345.0   121.0
33                 Video          11     21.0    613.0   111.0
34                 Video          12     18.0    143.0    13.0